@media (max-width: 600px) {

  .grid__1--mobile,
  .grid__2--mobile,
  .grid__3--mobile,
  .grid__4--mobile,
  .grid__5--mobile {
    display: flex;
    flex-wrap: wrap;
  }

  .grid__6--mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .grid__1--mobile>div:nth-child(1) {
    order: 1;
    width: calc(100%);
  }

  .grid__1--mobile>div:nth-child(2) {
    order: 2;
  }

  .grid__1--mobile>div:nth-child(3) {
    order: 3;
  }


  .grid__2--mobile>div:nth-child(1) {
    order: 2;
    width: calc(100%)
  }

  .grid__2--mobile>div:nth-child(2) {
    order: 1
  }

  .grid__2--mobile>div:nth-child(3) {
    order: 3
  }



  .grid__3--mobile>div:nth-child(1) {
    order: 3;
    width: calc(100%)
  }

  .grid__3--mobile>div:nth-child(2) {
    order: 2
  }

  .grid__3--mobile>div:nth-child(3) {
    order: 1
  }


  .grid__4--mobile>div:nth-child(1) {
    order: 3;
    width: calc(100% - 20px);
  }

  .grid__4--mobile>div:nth-child(2) {
    order: 2;
    width: calc(50%);
  }

  .grid__4--mobile>div:nth-child(3) {
    order: 1;
    width: calc(50%);
  }

  .itemSmall__1--4>div>div:nth-child(1) {
    background-color: black;
    height: calc(65%)
  }

  .itemSmall__1--4>div>div:nth-child(2) {
    height: calc(35%)
  }

  .itemSmall__2--4>div>div:nth-child(1) {
    height: calc(35%)
  }

  .itemSmall__2--4>div>div:nth-child(2) {
    background-color: black;
    height: calc(65%)
  }









  .grid__5--mobile>div:nth-child(1) {
    order: 1;
    width: calc(100% - 20px);
  }

  .grid__5--mobile>div:nth-child(2) {
    order: 2;
    width: calc(50%);
  }

  .grid__5--mobile>div:nth-child(3) {
    order: 3;
    width: calc(50%);
  }

  .itemSmall__1--5>div>div:nth-child(1) {
    background-color: black;
    height: calc(65%)
  }

  .itemSmall__1--5>div>div:nth-child(2) {
    height: calc(35%)
  }

  .itemSmall__2--5>div>div:nth-child(1) {
    height: calc(35%)
  }

  .itemSmall__2--5>div>div:nth-child(2) {
    background-color: black;
    height: calc(65%)
  }









  .grid__6--mobile>div:nth-child(1) {
    order: 1;
    width: calc(50% - 20px);
    height: calc(94% - 20px)
  }

  .grid__6--mobile>div:nth-child(2) {
    order: 2;
    width: calc(50%);
    height: calc(50%);
  }

  .grid__6--mobile>div:nth-child(3) {
    order: 3;
    width: calc(50%);
    height: calc(50%);
  }

  .itemSmall__1--6>div>div:nth-child(1) {
    background-color: black;
    height: calc(50%)
  }

  .itemSmall__1--6>div>div:nth-child(2) {
    height: calc(50%)
  }

  .itemSmall__2--6>div>div:nth-child(1) {
    height: calc(50%)
  }

  .itemSmall__2--6>div>div:nth-child(2) {
    background-color: black;
    height: calc(50%)
  }







  .grid__elementOne--mobile--1,
  .grid__elementTwo--mobile--1,
  .grid__elementOne--mobile--2,
  .grid__elementTwo--mobile--2,
  .grid__elementOne--mobile--3,
  .grid__elementTwo--mobile--3 {
    width: calc(100%);
    height: calc(50%);
  }

  .grid__itemBig {
    margin: 10px;
    width: calc(50% - 20px);
    height: 250px;
    background-color: deeppink;
  }


  .itemSmall__1--1,
  .itemSmall__2--1,
  .itemSmall__1--2,
  .itemSmall__2--2,
  .itemSmall__1--3,
  .itemSmall__2--3 {
    width: calc(100% - 20px);
  }

  .grid__itemSmall__1--mobile,
  .grid__itemSmall__2--mobile,
  .grid__itemSmall__3--mobile {
    display: flex;
    margin: 10px;
    width: calc(100%);
    height: 250px;
    background-color: rgb(253, 160, 210);
  }

  .grid__itemSmall__4--mobile,
  .grid__itemSmall__5--mobile,
  .grid__itemSmall__6--mobile {
    margin: 10px;
    height: 250px;
    background-color: rgb(253, 160, 210);
  }
}

@media (min-width: 600px) {

  .grid__1--desktop,
  .grid__2--desktop,
  .grid__3--desktop,
  .grid__4--desktop {
    display: flex;
    flex-wrap: wrap;
  }



  .grid__2--desktop>div:nth-child(1) {
    order: 2
  }

  .grid__2--desktop>div:nth-child(2) {
    order: 1
  }

  .grid__2--desktop>div:nth-child(3) {
    order: 3
  }



  .grid__3--desktop>div:nth-child(1) {
    order: 3
  }

  .grid__3--desktop>div:nth-child(2) {
    order: 2
  }

  .grid__3--desktop>div:nth-child(3) {
    order: 1
  }


  .grid__4--desktop>div:nth-child(1) {
    order: 3;
    width: calc(100% - 20px);
  }

  .grid__4--desktop>div:nth-child(2) {
    order: 2;
    width: calc(50%);
  }

  .grid__4--desktop>div:nth-child(3) {
    order: 1;
    width: calc(50%);
  }

  .grid__itemBig {
    margin: 10px;
    width: calc(50% - 20px);
    height: 250px;
    background-color: deeppink;
  }

  .itemSmall__1--1,
  .itemSmall__2--1,
  .itemSmall__1--2,
  .itemSmall__2--2,
  .itemSmall__1--3,
  .itemSmall__2--3,
  .itemSmall__1--4,
  .itemSmall__2--4 {
    width: calc(25%);
  }

  .grid__itemSmall__1--desktop,
  .grid__itemSmall__2--desktop,
  .grid__itemSmall__3--desktop,
  .grid__itemSmall__4--desktop {
    margin: 10px;
    width: calc(100% - 20px);
    height: 250px;
    background-color: rgb(253, 160, 210);
  }
}
